// Add your variables for colors, fonts, etc. here
//Greens
$color-green: #5E974D;
$color-midgreen: #41673A;
$color-darkgreen: #2B2F2F;
$color-blackgreen: #1A1C19;

$color-white: #FFFFFF;
$color-gray: #ADADAD;

//font
$font: 'Sofia Pro', sans-serif;


$transition-default: all 300ms;
